.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    color: #000;
    background-color: #3AA3A5;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-left: 13px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.openbtn {
    cursor: pointer;
    height: 60px;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-right 0.5s;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

#txtBusca {
    float: left;
    color: black;
    background-color: white;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 224px;
    border: #444 solid;
    border-radius: 10px;
    margin-left: 13px;
}
