@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@400;700&display=swap rel=stylesheet type=text/css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inclusive Sans', sans-serif;
}

.logo {
    width: 126px;
}

nav {
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D6B6E;
    height: 60px;

    a {
        display: flex;
        align-items: center;

        img {
            height: 50px;
        }
    }
}

body {
    max-width: 100dvw;
}

.seção1 {
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
    height: 300px;
    padding-left: 40px;

    h1 {
        font-weight: 200;
        width: 250px;
        font-size: 1.8rem;
    }
}


.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 15px 15px 0 0;
}

.linha {
    background-color: #3AA3A5;
    height: 8px;
    width: 150px;
    border-radius: 15px;
    margin-top: 5px;
}

.carrocel-fora {
    overflow-x: auto;
    max-width: 100dvw;
}

.carrocel {
    display: flex;
    align-items: center;
    height: 200px;  
    flex-wrap: nowrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3AA3A5;
    border-radius: 15px 15px 0 15px;
    margin-inline: 20px;
    padding-block: 20px;
    padding-inline: 25px;
    position: relative;

    img {
        background-color: white;
        height: 85px;
        width: 150px;
        border: 10px;
    }
}

.alinha {
    display: flex;
    align-items: center;
}

.alinha2 {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 85px;
    margin-left: 2px;
    color: white;

    .play {
        height: 50px;
        width: 50px;
        background-color: red;
        margin-bottom: 25px;
        border-radius: 50px;
        margin-left: 35px;
    }
}

.alinha3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.descricao {
    margin-top: 20px;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 400px;
    padding: 15px;
}

.colunaVerde {
    background-color: #3AA3A5;
    height: 125px;
    width: 5px;
}

.alinha p {
    width: 90%;
    padding-left: 5px;
    margin-inline: 10px;
}

.tempo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3AA3A5;
    border-radius: 0 0 5px 5px;
    width: 250px;
    color: white;
    padding-block: 20px;
    border-radius: 10px;
    margin-block: 10px;

    .quadraro {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0D6B6E;
        border-radius: 5px;
        height: 60px;
        width: 60px;
        margin-top: 10px;
        margin-inline: 10px;
        margin-bottom: 2px;
    }
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
    }
}

@media (min-width: 1000px) {
    .seção1 h1 {
        font-size: 2.5rem;
        margin-left: 150px;
    }

    .tempo {
        width: 400px;
    }

    .tempo .quadraro {
        height: 90px;
        width: 90px;

    }

    .tempo .quadraro h2 {
        font-size: 2.5em;

    }

    .tempo p {
        font-size: 1.5em;
        margin-left: 20px;
    }

}