@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Arial', serif;
}

.logo {
    width: 126px;
}

nav {
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D6B6E;

    a {
        display: flex;
        align-items: center;

        img {
            height: 50px;
        }
    }
}

body {
    background-color: black;
    max-width: 100dvw;
}

.seção1 {
    display: flex;
    align-items: center;
    color: white;
    height: 300px;
    padding-left: 40px;

    h1 {
        font-weight: 200;
        width: 250px;
        font-size: 1.8rem;
    }
}


.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 15px 15px 0 0;
}

.linha {
    background-color: #3AA3A5;
    height: 8px;
    width: 150px;
    border-radius: 15px;
    margin-top: 5px;
}

.carrocel-fora {
    overflow-x: auto;
    max-width: 100dvw;
}

.carrocel {
    display: flex;
    align-items: center;
    height: 150px;
    flex-wrap: nowrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3AA3A5;
    border-radius: 15px 15px 0 15px;
    margin-inline: 20px;
    padding-block: 10px;
    padding-inline: 25px;
    img {
        background-color: white;
        height: 75px;
        width: 100px;
    }
}

.alinha {
    display: flex;
    align-items: center;

    .play {
        height: 50px;
        width: 50px;
        background-color: red;
        border-radius: 50px;
    }
}

.descricao {
    margin-top: 20px;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 75%;
    padding: 15px;
}

.coluna {
    background-color: #3AA3A5;
    height: 125px;
    width: 5px;
}

.alinha p {
    width: 90%;
    padding-left: 5px;
}